* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

/* FULL PAGE */
.select-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0d47ff,
    #2563eb
  );
}

/* CARD */
.group-card {
  background: white;
  width: 500px;
  padding: 60px;
  border-radius: 25px;

  box-shadow:
    0 15px 40px
    rgba(0,0,0,0.15);

  text-align: center;
}

/* TITLE */
.group-card h2 {
  font-size: 42px;
  color: #111827;
  margin-bottom: 10px;
}

/* TEXT */
.group-card p {
  color: #6b7280;
  margin-bottom: 25px;
  font-size: 20px;
}

/* SELECT */
.group-card select {
  width: 100%;
  padding: 18px;
  margin-top: 18px;

  border: 1px solid #d1d5db;
  border-radius: 14px;

  font-size: 18px;
  outline: none;

  background: #f9fafb;
  color: #111827;
}

.group-card select:focus {
  border-color: #2563eb;

  box-shadow:
    0 0 10px
    rgba(37,99,235,0.2);
}

/* BUTTON */
.continue-btn {
  width: 100%;
  margin-top: 25px;
  padding: 18px;

  background: #2563eb;
  color: white;

  border: none;
  border-radius: 14px;

  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.continue-btn:hover {
  background: #1d4ed8;
  transform: scale(1.02);
}